---
interface Props {
    title: string;
    description: string;
    emoji: string;
    timeStart: string;
    timeEnd: string;
}
const {title, description, emoji, timeStart, timeEnd}= Astro.props;
---
<li class="bg-[#FBFBFF] bg-opacity-45  border-2 border-white rounded-lg flex gap-1 p-2 backdrop-blur-lg">
    <h2 class="self-center text-7xl">{emoji}</h2>
    <section class="flex flex-col gap-1">
        <h3 class="text-xl font-sf-medium">{title}</h3>
        <p class="text-[11px] ps:text-xs">{description}</p>
        <p class="font-sf-semibold">{timeStart}</p>
    </section>
    <h2 class="self-center text-[33px] font-sf-ultralight text-right ml-6">{timeEnd}</h2>
</li>