---
import SectionContainer from "../SectionContainer.astro"
import CardCarrousel from "./DateCardCarrousel.astro"
import ImgDate from "@assets/img/img-2-date.jpg"
import ImgDonde from "@assets/img/img-2-donde.jpg"
import ImgPedida from "@assets/img/img-2-pedida.png"
import ImgSaxo from "@assets/img/img-2-saxo.jpg"
import ImgContigo from "@assets/img/img-2-coontigo.jpg"
import ImgDresscode from "@assets/img/img-2-dresscode.jpg"
import ImgAlojamiento from "@assets/img/img-2-alojamiento.jpg"
import ImgRegalos from "@assets/img/img-2-regalos.jpg"

const imagesCarrousel = [
    { 
        item: ImgDate, 
        title:"¿Cuándo?",
        subtitle:"27 de Abril 2024",
        buttons:{
            izquierdaHref: "#cuando",
            derecha:{
                href: "https://www.google.com/calendar/render?action=TEMPLATE&text=Boda+Ale+y+Uziel&dates=20240427T070000-8:00/20240427T235900-9:00&details=Invitación+de+la+boda+de+Ale+y+Uziel&location=Lugar+del+Evento",
                text: "Agendar en Google Calendar"
            }
        }
    },
    { 
        item: ImgDonde, 
        title:"¿Dónde?",
        subtitle:"Hacienda San Juan Pueblilla / Zempoala, Hgo.",
        buttons:{
            izquierdaHref: "#donde",
            derecha:{
                href: "https://maps.app.goo.gl/uGMix1kiRqDigsNX7",
                text: "Ir a Google Maps"
            }
        }
    },
    { 
        item: ImgPedida, 
        title:"Nuestra historia",
        subtitle:"Asi fue que nos comprometimos...",
        buttons:{
            izquierdaHref: "#historia",
            derecha:{
                href: "https://www.tiktok.com/@uzielyale?is_from_webapp=1&sender_device=pc",
                text: "Ir a TikTok"
            }
        }
    },
    { 
        item: ImgSaxo, 
        title:"Itinerario",
        subtitle:"Así será la boda",
        buttons:{
            izquierdaHref: "#itinerario",
            derecha:{
            }
        }
    },
    { 
        item: ImgContigo, 
        title:"¿Contamos contigo?",
        subtitle:"Aqui puedes confirmar o declinar",
        buttons:{
            izquierdaHref: "#confirma",
            derecha:{
             }
        }
    },
    { 
        item: ImgDresscode, 
        title:"Dresscode",
        subtitle:"Código de vestimenta e ideas para vestir",
        buttons:{
            izquierdaHref: "#dresscode",
            derecha:{
                href: "https://pin.it/39jlT0qfY",
                text: "Ir a Pinterest"
            }
        }
    },
    { 
        item: ImgAlojamiento, 
        title:"Alojamiento",
        subtitle:"¿No tienes donde quedarte? Aquí te ayudamos",
        buttons:{
            izquierdaHref: "#reserva",
            derecha:{
                href: "https://wa.link/tmw6si",
                text: "Reserva ahora"
            }
        }
    },
    { 
        item: ImgRegalos, 
        title:"Registro de Regalos",
        subtitle:"Evita repetir tu presente para los novios",
        buttons:{
            izquierdaHref: "#regalos",
            derecha:{
                href: "https://www.amazon.com.mx/hz/wishlist/ls/HVFUN4YINE0G?ref_=wl_share",
                text: "Reserva ahora"
            }
        }
    },
]
---


<div id="default-carousel" class="relative w-full my-10" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg h-[480px]">
         {
            imagesCarrousel.map((item, index) => (
                <CardCarrousel key={index} img={item.item} title={item.title} subtitle={item.subtitle} button={item.buttons}/>
            ))
         }
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-[-20px] left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 7" data-carousel-slide-to="6"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 8" data-carousel-slide-to="7"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
